@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-gray-100;
  @apply text-gray-900;
}

/* @layer base {
  :root {
    --font-geist-sans: 'Geist Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    --font-geist-mono: 'Geist Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
    --background: #ffffff;
    --foreground: #171717;
  }

  body {
    @apply text-sm bg-white text-gray-900;
    font-family: var(--font-geist-sans);
  }
} */